*{
    margin:0;
    padding:0;
}
body{
    background-image: url("https://png.pngtree.com/background/20250207/original/pngtree-soft-pastel-floral-design-light-blue-background-picture-image_16257054.jpg");
.header{
    background-color: rgba(255,255,255,0.7);
    .container{
        max-width:1300px;
        margin:auto;
        padding:0px,25px; 
        .navbar{
            display:flex;
            padding:25px;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;
            a{
                text-decoration: none;
                color:#555;
                
            }
        }
        .logo{
            justify-content:flex-start ;
        }
        .headercontent{
            margin-top: 70px;
            display: flex;
            align-items: center;
            .headercontentitem{
                flex:1;
                h1{
                    font-size: 50px;
                    line-height: 60px;
                    margin: 25px 0px;
                    background-color: pink;
                    p{
                        color: #555;
                    }
                }
                img{
                    width: 100%;
                    padding: 50px 0;
                }
            }
        }
    }
}
.categories{
    margin: 70px 0;
    .container{
        max-width: 1000px;
        margin: auto;
        padding: 0px 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        img{
            flex-basis: 30%;
            min-width: 250px;
        }
    }
}

.featured{
    margin: 70px,0;
    .container{
        max-width: 1000px;
        margin: auto;
        padding: 0px 25px;
        display: flex;
        flex-direction: column;
    }
    h2{
        color: #555;
        line-height: 60px;
        margin-bottom: 0px;
        text-align: center;
    }
    .customunderlinecontainer{
        display: flex;
        justify-content: center;
        .customunderline{
            width: 80px;
            height: 5px;
            border-radius: 5px;
            background-color: red;
        }
    }
    .products-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .products-card{
            display: flex;
            flex-direction: column;
            min-width: 200px;
            padding: 5px;
            margin-bottom: 50px;
            flex-basis: calc(25%-20);
            margin-bottom: 50px;
            cursor: pointer;
            .products-title{
                font-size: 24px;
                color: #555;
                .product-pricing{
                    font-size: 16px;
                    color:#555;
                }
            }
        }
    }

}
.latest{
    margin: 70px,0;
    h2{
       color: #555;
        line-height: 60px;
        margin-bottom: 0px;
        text-align: center; 
    }
}