.container{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 0;
    .contact{
        text-align: center;
        h1{
            font-size: 50px;
                    line-height: 60px;
                    margin: 25px 0px;
                    background-color: palevioletred;
                    text-align: center;
        }
        p{
            font-size: 22px;
        }
        h2{
            text-align: left;
        }
        .paragraph{
            p{
                text-align: left;
            }
            h2{
                text-align: left;
            }
        }
    }
}