.container{
     width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 0;
    .product{
        text-align: center;
        h1{
            font-size: 50px;
                    line-height: 60px;
                    margin: 25px 0px;
                    background-color: palevioletred;
                    text-align: center;
        }
    }
}
.product1-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .product1-card{
            display: flex;
            flex-direction: column;
            min-width: 200px;
            padding: 5px;
            margin-bottom: 50px;
            flex-basis: calc(25%-20);
            margin-bottom: 50px;
            cursor: pointer;
            .product1-title{
                font-size: 24px;
                color: #555;
                .product1-pricing{
                    font-size: 16px;
                    color:#555;
                }
            }
        }
    }